/* logseq-gruvbox-theme */
@charset "UTF-8";
:root {
  --ls-tag-text-opacity: 1;
  --ls-tag-text-hover-opacity: var(--ls-tag-text-opacity);
  --ls-page-text-size: 1rem;
  --ls-page-title-size: 2rem;
  --ls-main-content-max-width: 810px;
  --ls-main-content-max-width-wide: 1280px;
  --ls-scrollbar-width: 10px;
  --ls-border-radius-low: calc(0.375rem / 2);
  --ls-border-radius-medium: 0.375rem;
  --ls-border-radius-high: calc(0.375rem * 2);
  --ls-headbar-height: 3rem;
  --ls-left-sidebar-width: 246px;
  --ls-left-sidebar-sm-width: 74vw;
  --ls-native-kb-height: 0;
  --ls-error-color: #ea6962;
  --ls-warning-color: #e78a4e;
  --ls-success-color: #a9b665;
}
.dark-theme,
html[data-theme='dark'] {
  --ls-primary-background-color: #32302f;
  --ls-secondary-background-color: #292828;
  --ls-tertiary-background-color: #383432;
  --ls-quaternary-background-color: #3c3836;
  --ls-table-tr-even-background-color: var(--ls-tertiary-background-color);
  --ls-active-primary-color: #7daea3;
  --ls-block-properties-background-color: #292828;
  --ls-page-properties-background-color: var(
    --ls-block-properties-background-color
  );
  --ls-block-ref-link-text-color: #a9b665;
  --ls-border-color: #d8a657;
  --ls-guideline-color: #7c6f64;
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: #d4be98;
  --ls-secondary-text-color: #c5b18d;
  --ls-title-text-color: #ea6962;
  --ls-link-text-color: #a9b665;
  --ls-link-text-hover-color: #d4d73d;
  --ls-link-ref-text-color: #e78a4e;
  --ls-link-ref-text-hover-color: #f69b49;
  --ls-tag-text-color: #d3869b;
  --ls-tag-text-hover-color: #e1abba;
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: #d79921;
  --ls-block-bullet-color: #d5c4a1;
  --ls-block-highlight-color: #3c3836;
  --ls-selection-background-color: #3c3836;
  --ls-selection-text-color: #d4be98;
  --ls-page-checkbox-color: #d8a657;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-color: var(--ls-secondary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-tertiary-background-color);
  --ls-page-blockquote-border-color: var(--ls-border-color);
  --ls-page-mark-color: #d4be98;
  --ls-page-mark-bg-color: #d8a65766;
  --ls-page-inline-code-color: var(--ls-secondary-text-color);
  --ls-page-inline-code-bg-color: var(--ls-tertiary-background-color);
  --ls-scrollbar-foreground-color: #665c54;
  --ls-scrollbar-background-color: var(--ls-primary-background-color);
  --bf-scrollbar-thumb-hover-color: #7c6f64;
  --ls-cloze-text-color: #d65d0e;
  --ls-icon-color: var(--ls-link-text-color);
  --ls-search-icon-color: var(--ls-primary-text-color);
  --ls-search-icon-hover-color: var(--ls-secondary-text-color);
  --ls-a-chosen-bg: var(--ls-quaternary-background-color);
  --ls-header-button-background: var(--ls-secondary-text-color);
}
.cm-s-solarized.CodeMirror {
  box-shadow: none;
}
.cm-s-solarized.cm-s-dark {
  background-color: #514945;
  color: var(--ls-link-text-color);
  text-shadow: none;
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: #46403d;
}
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
  color: var(--ls-link-text-color);
  text-shadow: none;
}
.extensions__pdf-container[data-theme='dark'] {
  background-color: var(--ls-primary-background-color);
}
.extensions__pdf-container[data-theme='dark'] .textLayer {
  background-color: var(--ls-primary-background-color);
}
.textLayer {
  opacity: 1;
}
.extensions__pdf-hls-ctx-menu {
  background-color: var(--ls-primary-background-color);
  color: var(--ls-primary-text-color);
}
.extensions__pdf-hls-ctx-menu > li.item:hover {
  background-color: var(--ls-quaternary-background-color);
}
.left-sidebar-inner a.item,
.left-sidebar-inner .nav-content-item .header,
.left-sidebar-inner .nav-content-item .bd ul a,
.left-sidebar-inner .create #create-button {
  border-radius: var(--ls-border-radius-medium);
  padding: 6px;
  font-size: 0.875rem;
  font-weight: 500;
}
.left-sidebar-inner a.item:hover,
.left-sidebar-inner .nav-content-item .header:hover,
.left-sidebar-inner .nav-content-item .bd ul a:hover,
.left-sidebar-inner .create #create-button:hover {
  background-color: var(--ls-tertiary-background-color) !important;
  color: #ea6962;
}
.left-sidebar-inner nav,
.left-sidebar-inner .nav-contents-container,
.left-sidebar-inner .create {
  padding-left: 12px;
  padding-right: 12px;
}
.left-sidebar-inner .create #create-button {
  border: 0;
  background-color: #458588 !important;
  color: #32302f;
}
.left-sidebar-inner .create #create-button:hover {
  color: #7daea3;
}
.left-sidebar-inner .create #create-button:focus,
.left-sidebar-inner a.item.active {
  background-color: var(--ls-tertiary-background-color) !important;
  color: #d8a657;
}
.dropdown-caret {
  border-top-color: #c5b18d !important;
}
.left-sidebar-inner .nav-content-item .header .wrap-th > span {
  font-size: 0.875rem;
}
.left-sidebar-inner .create {
  background-image: none;
}
.cp__sidebar-left-layout.is-open .left-sidebar-inner {
  border-top-right-radius: var(--ls-border-radius-high);
  border-bottom-right-radius: var(--ls-border-radius-high);
}
.actions:not(.has-selected) .actions-wrap .ui__button {
  display: none;
}
.actions.has-selected .actions-wrap .ui__button {
  background-color: #458588;
  color: #32302f;
}
.actions.has-selected .actions-wrap .ui__button:hover {
  background-color: #7daea3;
}
.cp__all_pages .actions .search-wrap .form-input {
  padding: 9px 12px 9px 32px !important;
  background-color: #3c3836;
}
.cp__all_pages .actions .search-wrap .form-input:focus {
  box-shadow: 0 0 0 1px #d8a657;
}
.cp__all_pages_table td.name {
  width: 25%;
}
.title {
  color: #d79921;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 700;
  border: 0;
}
.ls-block h1,
.editor-inner .uniline-block h1 {
  color: #ea6962;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 700;
  border: 0;
}
.ls-block h2,
.editor-inner .uniline-block h2 {
  color: #d79921;
  font-size: 1.6em;
  line-height: 1.2;
  font-weight: 700;
  border: 0;
}
.ls-block h3,
.editor-inner .uniline-block h3 {
  color: #98971a;
  font-size: 1.37em;
  line-height: 1.3;
  font-weight: 700;
  border: 0;
}
.ls-block h4,
.editor-inner .uniline-block h4 {
  color: #689d6a;
  font-size: 1.25em;
  line-height: 1.4;
  font-weight: 700;
  border: 0;
}
.ls-block h5,
.editor-inner .uniline-block h5 {
  color: #458588;
  font-size: 1.12em;
  line-height: 1.5;
  font-weight: 700;
  border: 0;
}
.ls-block h6,
.editor-inner .uniline-block h6 {
  color: #b16286;
  font-size: 1.12em;
  line-height: 1.5;
  font-weight: 700;
  border: 0;
}
.editor-inner .uniline-block.h1 {
  color: #ea6962;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  border: 0;
}
.editor-inner .uniline-block.h2 {
  color: #d79921;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 700;
  border: 0;
}
.editor-inner .uniline-block.h3 {
  color: #98971a;
  font-size: 1.37rem;
  line-height: 1.3;
  font-weight: 700;
  border: 0;
}
.editor-inner .uniline-block.h4 {
  color: #689d6a;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  border: 0;
}
.editor-inner .uniline-block.h5 {
  color: #458588;
  font-size: 1.12rem;
  line-height: 1.5;
  font-weight: 700;
  border: 0;
}
.editor-inner .uniline-block.h6 {
  color: #b16286;
  font-size: 1.12rem;
  line-height: 1.5;
  font-weight: 700;
  border: 0;
}
a.tag {
  background-color: var(--ls-tag-text-color);
  color: var(--ls-primary-background-color);
  padding: 0 0.5em;
  border-radius: var(--ls-border-radius-low);
  margin: 0;
}
a.tag:hover {
  background-color: var(--ls-tag-text-hover-color);
  color: var(--ls-secondary-background-color);
}
.external-link {
  border-bottom: 1px dashed;
}
.page-reference .bracket {
  opacity: 1;
}
blockquote {
  border-top-right-radius: var(--ls-border-radius-low);
  border-bottom-right-radius: var(--ls-border-radius-low);
  border-left: 3px #d8a657 solid;
  box-shadow: 0 0 0 1px #292828;
}
code {
  box-shadow: 0 0 0 1px #292828;
}
.admonitionblock {
  border-top-right-radius: var(--ls-border-radius-low);
  border-bottom-right-radius: var(--ls-border-radius-low);
  background-color: var(--ls-tertiary-background-color);
  box-shadow: 0 0 0 1px #292828;
}
.admonition-icon {
  padding: 6px;
  background-color: var(--ls-secondary-background-color);
  border-right: 3px #d8a657 solid;
}
pre {
  background-color: var(--ls-tertiary-background-color);
}
mark {
  padding: 1px 6px;
}
div.table-wrapper table {
  border-collapse: collapse;
}
div.table-wrapper td,
div.table-wrapper th {
  border: 1px solid #32302f;
  font-size: inherit;
  padding: 0.25rem;
  text-align: center;
}
div.table-wrapper th {
  font-weight: 700;
  background-color: #d79921;
  color: #32302f;
  border-bottom: 0;
}
div.table-wrapper tr:nth-child(even) {
  background-color: #3c3836;
}
div.table-wrapper tr:nth-child(odd) {
  background-color: #383432;
}
div.table-wrapper tr:hover {
  background-color: #504945;
}
.form-checkbox {
  border-radius: var(--ls-border-radius-low);
  z-index: 1;
  position: relative;
  box-shadow: 0 0 0 1px #292828;
  top: 0;
}
.marker-switch {
  opacity: 1;
  font-weight: 500;
  border-radius: var(--ls-border-radius-low);
  color: var(--ls-primary-text-color);
  background: #3c3836;
  padding: 0.1em 0.5em 0.1em 1.5em;
  margin: 0.125em 0.5em 0.125em -1.7em;
}
.marker-switch:hover {
  opacity: 1;
}
span.todo .form-checkbox {
  background-color: #b16286;
}
span.todo .block-marker.TODO {
  background-color: #d3869b;
  color: #32302f;
}
span.doing .form-checkbox {
  background-color: #98971a;
}
span.doing .block-marker.DOING {
  background-color: #a9b665;
  color: #32302f;
}
.tippy-wrapper {
  border-radius: var(--ls-border-radius-medium);
  box-shadow: 0 0 0 1px #292828;
}
a.tag[data-ref='test']::before {
  background-color: #ea6962;
  color: white;
  content: '❤';
  visibility: visible;
  border-radius: var(--ls-border-radius-low);
  padding: 0.1em 0.25em;
}
a.tag[data-ref='test'] {
  visibility: hidden;
  white-space: nowrap;
  width: 0;
}

/* 自定义 */
:root {
  --ls-font-family: 'Optima LT', '霞鹜文楷';
  --ls-font-weight: 600;
  --ct-inline-code-font-weight: 600;
  --ct-page-title-font-weight: 600;
  --favicons: none;
  --ls-scrollbar-width: 4px;
}

/* 滚动条 */
html ::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
/* 注释 */
.block-properties {
  border: 4px solid #514945 !important;
  background: #514945 !important;
}
.page-property-key {
  color: var(--ls-link-ref-text-color);
}
.page-property-key:hover {
  background-color: #514945;
}
body[data-awpr-page-props-icons]
  .block-properties.page-properties
  .page-property-key:before,
body[data-awpr-block-props-icons]
  .block-properties:not(.page-properties)
  .page-property-key:before {
  color: var(--ls-link-ref-text-color);
}
.block-properties .page-property-value .mr-1 {
  color: var(--ls-link-text-color);
  font-size: 0.8em;
}

/* 简洁导航栏 */
.nav-header {
  margin-left: 2px;
}

.nav-header .flex-1 {
  display: none;
}

.ml-1 {
  display: none;
}

.nav-header .item {
  margin-left: 1px;
  padding: 4px !important;
}

.nav-header .ui__icon {
  margin-right: 0px !important;
}

.nav-header {
  flex-direction: row;
}

.flashcards-nav .inline-block {
  margin-left: 2px;
  padding: 0px;
  font-size: 12px;
  vertical-align: middle;
}

.tie-whiteboard:before {
  font-size: 20px;
}

/* #main-content-container {
  font-family: 'Optima LT','方正屏显雅宋_GBK';
}

.editor-inner textarea {
  font-family: var(--ls-font-family),'方正屏显雅宋_GBK' !important;
} */

.block-children-left-border {
  background-color: var(--ls-block-bullet-color);
  z-index: auto;
  opacity: 0.5;
}

.block-children {
  border-left: 0px solid transparent;
}

/* Checkbox */
.form-checkbox {
  border-radius: 50% !important;
}

.form-checkbox,
.form-checkbox:focus {
  border-radius: 50% !important;
}

.block-marker {
  font-family: var(--ls-font-family);
}

/* highlight */
.dark-theme mark {
  background: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration-style: solid;
  text-decoration: underline;
  text-decoration-color: rgba(245, 158, 11, 0.5);
  text-decoration-thickness: 6px;
  text-underline-offset: -3px;
  text-decoration-skip-ink: none;
  padding: 0;
}

span.unlink-highlight {
  background: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration-style: solid;
  text-decoration: underline;
  text-decoration-color: rgba(167, 245, 11, 0.5);
  text-decoration-thickness: 6px;
  text-underline-offset: -3px;
  text-decoration-skip-ink: none;
  padding: 0;
}

/* 隐藏 LOGBOOK */
.timestamp + .block-body {
  display: none;
}

/* 表格样式 */
.table-wrapper {
  width: 100% !important;
  max-width: 100% !important;
}

table td {
  min-width: 50px;
  word-break: break-word;
}

/* 文字两端对齐 */
.inline {
  text-align: justify;
}
.org-left {
  text-align: justify;
}

/* page-reference */
.white-theme .page-reference {
  background: transparent;
}

/* bullet */
.block-children-left-border:hover {
  background-color: var(--ls-link-ref-text-color);
}

.bullet-container .bullet:hover {
  background-color: var(--ls-link-ref-text-color);
  opacity: 0.5;
}
